img[alt="logo"] {
    width: 100px;
}

h1 {
    font-size: small;
}

.nav-link { 
    color: black;
}

.nav-link:hover, .nav-link:focus { 
    color: #FFC107;
}

.router-link-active, .router-link-active:focus { 
    color:  #FFC107;
}

.dropdown-menu {
    --mdb-dropdown-min-width: none;
}
